

.card-text-first-bloc {
    font-family: 'Titan One', cursive !important;
    display: flex;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text-second-bloc {
    font-family: 'Titan One', cursive !important;
    display: flex;
    font-size: 30px;
    margin: 2vw 0px 0px 0px;
    flex-wrap: nowrap;
    overflow: hidden;
}

.area-name {
    font-family: 'Titan One', cursive !important;
    font-size: 20px;

}