.services-infos-main-container {
    display: flex;
    /* align-items: center; */
    font-family: 'Titan One', cursive !important;
    padding: 0px 9vw;
    flex-direction: column;
    height: 77vh;
}

.main-name {
    font-size: 40px;
    text-align: center;
    width: 100%;
}

.subtext {
    margin: 2vw 0px;
    font-size: 30px;
}

.list-of-cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 3vw;
}