name: Linter Front App

on:
  workflow_call:
  workflow_dispatch:
  # pull_request:
  #     branches: [main]
  # push:
  #     branches: [main]

jobs:
  prettier:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: mobile

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}

      - name: Main
        run: ls

      - name: Prettify code
        uses: creyD/prettier_action@v4.2
        with:
          commit_message: "Indented the code of the 'mobile/' app!"
          prettier_options: --write **/*.{md,js,css,html,json,ts,tsx,jsx}